@page "/"
@using FanControl.Components

<div style="background-color: cornflowerblue; padding: 15px;color: white;">
    <FanController FanUrl="http://192.168.178.12" MotorOffset="0" FanFactor="10" FanCount="4"></FanController>
</div>
<br/><br />
<div style="background-color: cornflowerblue; padding: 15px;color: white;">
    <FanController FanUrl="http://192.168.178.20" MotorOffset="7" FanFactor="5" FanCount="2"></FanController>
</div>
